html {
	font-size: 16px;
}

html,
body {
	margin: 0;
	padding: 0;
}

#root {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 5rem;
	max-width: 1400px;
	margin: auto;
}

.chart-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 5rem;
	padding: 4rem 1rem;
	background: linear-gradient(133deg, #fa7161, #f9c62d);
	border-radius: 8px;
}

svg {
	overflow: visible;
}

polyline,
circle {
	stroke: white;
	stroke-width: 2px;
	vector-effect: non-scaling-stroke;
}

polyline {
	fill: none;
}

circle {
	fill: white;
}

@media (max-width: 1024px) {
	html {font-size: 14px;}
}

@media (max-width: 750px) {
	html {font-size: 10px;}
}
